include ./template
head
    title= Index
    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.0.min.js")
    script(type="text/javascript", src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js")


div.table-responsive
    table.table
        each word, i in words
            if ((i % 4) == 0)
                tr
            td
                div(id="card-#{i}").card.style
                    div.front.alert.alert-info.front
                        strong.strong #{word.name}
                            br.br
                        Click to clip me!
                    div.back.well.well-lg.back
                        strong.strong #{word.translation}
                            br.br
                        Click to clip me back!
script(type='text/javascript').
    var words = !{JSON.stringify(words)};
    for (var i = 0; i < words.length; i++) {
        $("#card-" + i).flip();
    }